@use "../../scss/colors" as *;
@use "../../scss/typograph" as *;
@use "../../scss/structure" as *;

#about {
  width: 100%;

  .about__container {
    width: 100%;
    max-width: $width-1500;
    margin: 0 auto;

    .about__row {
      display: flex;
      flex-direction: row;
    }
  }
}

@media(max-width: 768px) {
  #about{
    .about__container {
      

      .about__row.about__row-primary{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
      }
      .about__row.about__row-secondary{
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
