//Buttons
$salmon: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);

$dark-blue: hsl(212, 27%, 19%);
$dark-gray: hsl(213, 9%, 39%);
$medium-gray: hsl(232, 10%, 55%);
$light-gray: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);

$text__green: hsl(167, 40%, 24%);
$text__green-footer: hsl(167, 40%, 24%, 0.8);
$photo-text__blue: hsl(198, 62%, 26%);
$footer__cyan: hsl(168, 34%, 41%, 0.6);